body {
    background-image: url('imagens/bgtile-css.gif');
    background-size: cover; /* Faz a imagem cobrir todo o elemento pai */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Define a ordem de preferência das fontes */
    font-size: 12px; /* Define tamanho de fonte para 12 pixels */
    color: #000000; /* Define a cor do texto para preto */
    margin: 20px 40px; /* Primeiro valor para margem superior/inferior, segundo para margem esquerda direita */
}

a:link {
    color: #336699; /* Cor do link não visitado */
    text-decoration: none;
}

a:visited {
    color: #666666; /* Cor do link visitado */
    text-decoration: none;
}

a:hover {
    color: #663366; /*Cor do link ao passar o mouse (rollover) */
    text-decoration: none;
}

a:active {
    color: #663300; /* Cor do link ativo (clicado) */
    text-decoration: none;
}ww

h1,h2,h3 {
    font-family: Georgia, "Times New Roman", Times, serif
}

h1 {
    font-size: 36px;
    color: #448888;
    text-align: center; /* Alinha o texto com cabeçalho h1 ao centro da página */
}

h2 {
    font-size: 18px;
    color: #226666;
}

h3 {
    font-size: 14px;
    color: #333333;
}

p {
    line-height: 1.4em; /* Define a altura da linha para parágrafos */
}

dt {
    color: #333333;
    font-weight: bold; /* Deixa o texto em negrito */
}

dd {
    font-style: italic;
    margin: 0.5em 1.5em 0;
}

dl {
    margin: 1.5em;
}

blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    margin: 1em 3em;
}

.byline {
    font-style: italic;
    text-align: center;
    margin-bottom: 2.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #666666;
}

.figura {
    margin-left: 20px;
    float: right;
}

p.figura {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    margin: 0px;
}

#toc {
    background-color: #FFFFFF; /* Define a cor de fundo como branco */
    width: 200px;
    padding: 0px 20px;
    margin: 30px 1px solid #666666;
    border-bottom: 6px solid #666666;
    border-right: 6px solid #666666;
}

#toc ul {
    padding-left: 2em;
}